<% provide(:title, "Contact") %>
<section class="center border" id="main">
	<h5> For booking, email Preston at... </h5>
	<a href="mailto:<%= @pgund_email %>"><%= @pgund_email %></a>
	<h5> For news and updates... </h5>
	<% @links.each do |link| %>
		<%= link_to image_tag(link[0], class: "social"), link[1] %>
	<% end %>
	<%= image_tag("/assets/photos/small/singing.jpg", id: "singing") %>
	<%= image_tag("/assets/Minnesota.jpg", 						id: "minnesota") %>
</section>
