<head>
	<% @title = yield(:title) %>
	<title>Preston Gunderson | <%= @title %></title>
	<%= stylesheet_link_tag 	'http://fonts.googleapis.com/css?family=Fauna+One|Mr+Bedfort|Milonga' %>
	<%= stylesheet_link_tag    	'application', :media => 'all' %>
	<%= javascript_include_tag 	'application' %>
	<%= csrf_meta_tags %>
</head>

<% if flash[:notice] %>
    <div class='alert'><%= flash[:notice] %></div>
		<style>
			#subscribe, #soundcloud {
				top: 60px;
			}
			#tweet-stream {
				top: 200px;
			}
		</style>
<% end %>
<nav class='center border'> 
	<ul>
		<% ['Home', 'Bio', 'Gallery', 'Music', 'Tour', 'Videos', 'Contact', 'Merch'].each do |page| %>
			<li><%= link_to( page.upcase, "/#{page.downcase}", class: 'local-nav') %></li>
		<% end %>
	</ul>
</nav>
<header class='center border' id='head-box'>
	<p id='supertitle'>The official site of Singer Songwriter</p>
	<h1>Preston Gunderson</h1>
</header>
