<!DOCTYPE html>
<html>
	<%= render 'layouts/header' %>
	<%= render 'layouts/subscribe' %>
	<%= render 'layouts/soundcloud' %>
	<%= render 'layouts/tweet-stream' %>

	<body>

        <div data-pjax-container>
          <%= yield %>
        </div>

		<%= render 'layouts/footer' %>
		<%= render 'layouts/google_analytics' %>
	</body>
</html>
